/*global style*/
body, html {
    padding: 0;
    margin: 0;
    font-family: "Times New Roman", Arial;
}

p {
    color: #f5eded;
    font-size: 1.8em;
    margin: 0;
}

.position {
    position: absolute;
}

.clear {
    clear: both;
}

/*input[type=number]::-webkit-inner-spin-button,*/
/*input[type=number]::-webkit-outer-spin-button {*/
    /*-webkit-appearance: none;*/
    /*margin: 0;*/
/*}*/

/*input[type='number'] {*/
    /*-moz-appearance: textfield;*/
/*}*/


/*style for form*/
form {
    margin-left: 30px;
}

form label {
    color: #7a7272;
    font-size: 1.1em;
    font-family: Arial;
    /*margin-bottom: 55px;*/
}

form input {
    color: #7a7272;
    margin:15px 0 20px 0;
    width: 600px;
    padding: 8px 0 8px 15px;

}

/*style for bankCard*/
#card1 {
    width: 340px;
    height: 210px;
    background-color: #46398E;
    border-radius: 9px;
    position: relative;
    top: 20px;
    left: 30px;
}

#imgVisa {
    top: 20px;
    right: 20px;
}

#imgVisa img {
    width: 70px;
    height: 40px;
}

#imgCode {
    top: 50px;
    left: 40px;
}

#imgCode img {
    width: 55px;
    height: 35px;
    border-radius: 7px;
}

#codeCard {
    top: 100px;
    left: 40px;
}

#namePerson {
    bottom: 30px;
    left: 40px;
}

#namePerson p {
    font-size: 1.5em;
}

/*style for expiry card*/
#expiryDate {
    bottom: 25px;
    right: 50px;
}

#validDate, #paragExpiryDate, #textAngular {
    float: left;
}

#validDate {
    font-size: 0.3em;
    width: 25px;
}

#validDate p {
    margin: 0;
    padding: 0;
}


#paragExpiryDate {
    margin-top: -8px;
}

#paragExpiryDate p {
    font-size: 0.5em;
}

#textAngular {
    width: 55px;
    height: 25px;
    margin: 0 0 0 -55px;
}

#textAngular p {
    font-size: 1.2em;
}