/*global style*/
body, html {
    padding: 0;
    margin: 0;
    font-family: "Times New Roman", Arial;
}

p {
    color: #a8a3a3;
    font-size: 1.8em;
    margin: 0;
}

.position {
    position: absolute;
}

.clear {
    clear: both;
}

/*input[type=number]::-webkit-inner-spin-button,*/
/*input[type=number]::-webkit-outer-spin-button {*/
/*-webkit-appearance: none;*/
/*margin: 0;*/
/*}*/

/*input[type='number'] {*/
/*-moz-appearance: textfield;*/
/*}*/


/*style for form*/
form {
    margin: 50px 0 0 30px;
}

form label {
    color: #7a7272;
    font-size: 1.1em;
    font-family: Arial;
    /*margin-bottom: 55px;*/
}

form input {
    color: #7a7272;
    margin:15px 0 20px 0;
    width: 600px;
    padding: 8px 0 8px 15px;

}

#monitorSlider {
    padding: 0;
    margin: 30px 0 0 30px;
    width: 340px;
    height: 210px;
    overflow: hidden;
}

#containerSlider {
    width: 700px;
    height: 100%;
}

/*style for bankCard*/
#card1 {
    width: 340px;
    height: 210px;
    background-color: #46398E;
    border-radius: 9px;
    position: relative;
    display: inline-block;
}

#imgVisa {
    top: 20px;
    right: 20px;
}

#imgVisa img {
    width: 70px;
    height: 40px;
}

#imgCode {
    top: 50px;
    left: 40px;
}

#imgCode img {
    width: 55px;
    height: 35px;
    border-radius: 7px;
}

#codeCard {
    top: 100px;
    left: 40px;
}

#defaultCodeCard ul {
    display: inline-block;
    margin: 10px 0 0 10px;
    padding: 0;
}

#defaultCodeCard ul li {
    display: inline-block;
    list-style-type: none;
    padding: 1px;
}

#namePerson {
    bottom: 30px;
    left: 35px;
}

#namePerson p {
    font-size: 1.5em;
}

/*style for expiry card*/
#expiryDate {
    bottom: 25px;
    right: 30px;
}

#validDate, #paragExpiryDate, #textAngular {
    float: left;
}

#validDate {
    font-size: 0.3em;
    width: 25px;
    text-align: right;
}

#validDate p {
    margin: 0 5px 0 0;
    padding: 0;
}


#paragExpiryDate {
    margin-top: -8px;
}

#paragExpiryDate p {
    font-size: 0.5em;
}

#textAngular {
    min-width: 70px;
    height: 25px;
    margin: 0 0 0 -55px;
}

#textAngular p {
    font-size: 1.2em;
}

#defaultTextAngular ul {
    margin: 3px 0;
    padding: 0;
}

#defaultTextAngular ul li {
    display: inline-block;
    list-style-type: none;
    padding: 0;
}

/*style for bgCard*/
#card2 {
    width: 340px;
    height: 210px;
    background-color: #46398E;
    border-radius: 9px;
    position: relative;
    display: inline-block;
}

#blackLine {
    width: 100%;
    height: 50px;
    background-color: black;
    position: absolute;
    top: 20px;
}

#whiteLine {
    background-color: white;
    height: 35px;
    width: 260px;
    position: absolute;
    left: 12px;
    top: 90px;
}

#cvcCode {
    right: 15px;
    top: 90px;
    min-width: 50px;
    height: 30px;
    text-align: center;
}

#cvcCode p {
    font-size: 1.1em;
}

#defaultCvcCode ul {
    padding: 0;
    margin: 5px 0 0 10px;
}

#defaultCvcCode ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0;
}


#blockInfo {
    top: 140px;
}

#infoImg {
    width: 70px;
}

#infoImg img {
    width: 55px;
    height: 35px;
    border-radius: 7px;
    margin-left: 12px;

}

#infoText {
    margin: -40px 0 0 85px;
    width: 240px;
}

#infoText p {
    font-size: 0.55em;
}