<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
</head>
<body>
    <div id="monitorSlider">
        <div id="containerSlider">
            <div id="card1">
                <div id="imgVisa" class="position">
                    <img src="images/visaF.jpg">
                </div>

                <div id="imgCode" class="position">
                    <img src="images/code.png">
                </div>

                <div id="codeCard" class="position">
                    <p ng-bind="codeCard"></p>
                    <div id="defaultCodeCard">
                        <ul>
                            <li>&#9899;</li>
                            <li>&#9899;</li>
                            <li>&#9899;</li>
                            <li>&#9899;</li>
                        </ul>

                        <ul>
                            <li>&#9899;</li>
                            <li>&#9899;</li>
                            <li>&#9899;</li>
                            <li>&#9899;</li>
                        </ul>

                        <ul>
                            <li>&#9899;</li>
                            <li>&#9899;</li>
                            <li>&#9899;</li>
                            <li>&#9899;</li>
                        </ul>

                        <ul>
                            <li>&#9899;</li>
                            <li>&#9899;</li>
                            <li>&#9899;</li>
                            <li>&#9899;</li>
                        </ul>
                    </div>
                </div>

                <div id="namePerson" class="position">
                    <p ng-bind="name"></p>
                    <p id="defaultNamePerson">FULL NAME</p>
                </div>

                <div id="expiryDate" class="position">
                    <div class="clear"></div>
                    <div id="containerExpiryDate">
                        <div id="validDate">
                            <p>valid data</p>
                        </div>

                        <div id="paragExpiryDate">
                            <p>MONTH/YEAR</p>
                        </div>

                        <div id="textAngular">
                            <p ng-bind="expiry"></p>
                            <div id="defaultTextAngular">
                                <ul>
                                    <li>&#9899;</li>
                                    <li>&#9899;</li>
                                    <li>&#47;</li>
                                    <li>&#9899;</li>
                                    <li>&#9899;</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>

            <div id="card2">
                <div id="blackLine"></div>
                <div id="whiteLineAndCodeCvc">
                    <div class="clear"></div>
                    <div id="whiteLine"></div>
                    <div id="cvcCode" class="position">
                        <p ng-bind="cvc"></p>
                        <div id="defaultCvcCode">
                            <ul>
                                <li>&#9899;</li>
                                <li>&#9899;</li>
                                <li>&#9899;</li>
                            </ul>
                        </div>
                    </div>
                    <div id="blockInfo" class="position">
                        <div id="infoImg">
                            <img src="images/code.png">
                        </div>
                        <div id="infoText">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Dolore est exercitationem modi natus, obcaecati similique soluta voluptas.
                                Dolore fugit impedit molestiae quos.</p>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>

    <form action="" method="">

        <label for="code">Card Number</label><br>
        <input type="text" ng-model="codeCard"
               placeholder="Card number" id="code"
               onkeyup="validInputNumber(this)"><br>

        <label for="fullName">Full Name</label><br>
        <input type="text" ng-model="name"
               id="fullName" placeholder="Full Name"
        onkeyup="validInputString(this)"><br>

        <label for="expiry">Expiry</label><br>
        <input type="text" ng-model="expiry" placeholder="MM/YY" id="expiry"
               onkeyup="validInputNumber(this)"><br>

        <label for="cvc">CVC</label><br>
        <input type="text" ng-model="cvc" id="cvc" placeholder="CVC"
               onkeyup="validInputNumber(this)"><br>

    </form>

    <script src="script/main.js"></script>
</body>
</html>